.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: -fx-base;
    -fx-stroke: transparent;
    -fx-size: 50;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #a1a0a0;
}

.table-view .table-column {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.table-view .table-cell {
    -fx-font-size: 14;
}

.table-view {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-fixed-cell-size: 50;
}

.left-label-style {
    -fx-font-size: 22;
    -fx-max-width: Infinity;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: #e5e5e5;
    -fx-border-width: 0.3;
    -fx-border-color: black;
}

.grid-pane .label {
    -fx-font-size: 22;
}

.grid-pane {
    -fx-background-color: white;
}

.label-cell {
    -fx-alignment: center-left;
    -fx-padding: 5;
}

.value-cell {
    -fx-alignment: center-right;
    -fx-padding: 5;
}

.bar-chart {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 16;
}

.axis-label {
    -fx-font-size: 22;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.root {
    -fx-font-family: "Inter";
}